In [41]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import category_encoders as ce

# Ordinal Encoding

In [9]:
data = {'Temperature' : ['Hot', 'Cold', 'Very Hot', 'Warm', 'Hot', 'Warm']}
df = pd.DataFrame(data)

ordinal_dict = {'Cold' : 1,
               'Warm' : 2,
               'Hot' : 3,
               'Very Hot' : 4}

df['Ordinal_Encoded'] = df['Temperature'].map(ordinal_dict)
df

  Temperature  Ordinal_Encoded
0         Hot                3
1        Cold                1
2    Very Hot                4
3        Warm                2
4         Hot                3
5        Warm                2

# One-Hot Encoding

In [36]:
data = {'Dept.': ['R&D', 'HR', 'R&D', 'Marketing', 'Marketing', 'HR']}
df = pd.DataFrame(data)

encoder = OneHotEncoder()

ohe = encoder.fit_transform(df['Dept.'].values.reshape(-1, 1)).toarray()

ohe_df = pd.DataFrame(ohe, columns = ['Dept.' + str(encoder.categories_[0][i]) for i in range(len(encoder.categories_[0]))])

pd.concat([df, ohe_df], axis = 1)

       Dept.  Dept.HR  Dept.Marketing  Dept.R&D
0        R&D      0.0             0.0       1.0
1         HR      1.0             0.0       0.0
2        R&D      0.0             0.0       1.0
3  Marketing      0.0             1.0       0.0
4  Marketing      0.0             1.0       0.0
5         HR      1.0             0.0       0.0

# Binary Encodig (Dummy Coding)

In [48]:
data = {'Dept.': ['R&D', 'HR', 'R&D', 'Marketing', 'Marketing', 'HR']}
df = pd.DataFrame(data)
class_id = [1, 2, 1, 3, 3, 2]

df['class_id'] = class_id

encoder = ce.BinaryEncoder(cols = ['Dept.'])
dfbin = encoder.fit_transform(df['Dept.'])

df = pd.concat([df, dfbin], axis = 1)
df.drop(columns = 'Dept._0', inplace = True)

df

       Dept.  class_id  Dept._1  Dept._2
0        R&D         1        0        1
1         HR         2        1        0
2        R&D         1        0        1
3  Marketing         3        1        1
4  Marketing         3        1        1
5         HR         2        1        0